* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*navbar sinistra*/
button {
  display:block;
  width: 100%;
  border-radius: 20px;
  background-color: white;
}
.padding20 {
  padding: 20px;
}
.white {
  color: white;
}
.nav-sx {
  background-color: black;
  height: 100vh;
  position: fixed;
  left:0;
}
.bold {
  font-weight: bold;
}
.logo {
  font-size: 40px;
  margin-right: 5px;
}
.nav-sx .spotify {
  display: flex;
  font-size: 25px;
  align-items: flex-end;
  flex-wrap: wrap;
}
.mb-30 {
  margin-bottom: 30px;
}
.flex-center {
  align-self: center;
}
a:hover {
  color: white;
  text-decoration: none;
}
a>span:hover {
  color: white;
  text-decoration: none;
}
.mr-10 {
  margin-right: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.font-nav {
  font-size: 17px;
}
.light-grey {
  color: #a5a5a5;
}
button {
  padding: 3px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.accedi {
  background-color: black;
  color: white;
}
.cookie-privacy {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}
.cookie-privacy a:hover {
  color: #a5a5a5;
}
.cookie-privacy a:hover small span {
padding-bottom: 3px;
border-bottom: 1px solid #a5a5a5;
}
.sfondo {
  background-image: linear-gradient(to right, #354759, #212c38, #131a21);
  padding: 0 30px;
  min-height: 100vh;
  margin-bottom: 100px;
}

/*Navbar superiore*/
.nav-sup a {
  text-transform: uppercase;
  font-size: 13px;
}
.nav-sup {
  margin-top: 30px;
  margin-bottom: 40px;
}

/*Main*/
.div-main {
  display: flex;
  flex-wrap: wrap;
}
.div-main img {
  height: 180px;
  width: 180px;
}
.item {
  padding: 20px 20px 20px 0;
}

/*lettore*/
.lettore {
  height: 100px;
  background-color: #3d3d3d;
  line-height: 100px;
}
.lettore i {
  font-size: 15px;
  margin-right: 20px;
}
.play {
  border: 1px solid #a5a5a5;
  padding: 10px;
  border-radius: 100%;
}

/*parte responsive*/
@media screen and (max-width: 767px) {
  .padding20 {
    padding: 0px;
  }
  .mr-10 {
    margin-right: 0px;
  }
  .center {
    text-align: center;
  }
  .logo {
    font-size: 30px;
    margin-right: 0px;
    margin-top: 10px;
  }
  .nav-sx .spotify {
  justify-content: center;
  }
  .nav-sx button {
    font-size: 8px;
  }
  .cookie-privacy div {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .cookie-privacy div {
    margin-bottom: 10px;
  }
